<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="/static/js/moment.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <title>Workout App</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1>Workout App</h1></div>
        <div class="col-md-4"></div>
      </div>
      <form>
        <div class="form-group">
          <label for="effort_level">Effort Level</label>
          <input type="number" min="1" max="10" step="any" class="form-control" name="effort_level" value="1">
        </div>
        <div class="form-group">
          <label for="cadence">Cadence</label>
          <input type="number" min="1" max="150" class="form-control" name="cadence" value="60">
        </div>
          <div class="form-row">
            <div class="col">
                <label for="minutes">Minutes</label>
                <input type="number" min="0" name="minutes" class="form-control" value="0">
            </div>
            <div class="col">
                <label for="seconds">Seconds</label>
                <input type="number" min="0" max="60" name="seconds" class="form-control" value="0">
            </div>
        </div>
        <div class="button-pad text-right">
            <button id="add-btn" type="button" class="btn btn-outline-primary btn-lg">Add</button>
            <button id="save-btn" type="button" class="btn btn-outline-success btn-lg">Save</button>
            <button id="clear-btn" type="button" class="btn btn-outline-danger btn-lg">Clear</button>
        </div>
      </form>
        <div id="container" style="width: 100%;">
            <canvas id="myChart"></canvas>
        </div>
        <div class="row alert-pad">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <ul id="sortable">
                    <div class="alert alert-primary" role="alert">
                        Number 1
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Number 2
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Number 3
                    </div>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </div>
  </body>
  <script>
    $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
    });
    
    // todo - seconds only are not working quite right

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            seconds: 0,
            labels: ["00:00:00"],
            datasets: [{
                label: "Effort Level",
                data: [],
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 1,
                steppedLine: true
            }]
        },
        options: {
            elements: { point: { radius: 0 } },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false,
                        min: 0,
                        max: 10,
                    },
                    gridLines: { display: false }
                }],
                xAxes: [{
                    ticks: { display: false },
                    gridLines: { display: false },
                    type: 'time',
                    scaleLabel: {
                        display: false,
                        labelString: 'Time'
                    },
                    time: {
                        unit: "second",
                        unitStepSize: 1,
                        format: "HH:mm",
                        displayFormats: {
                            minute: "HH:mm",
                            hour: 'HH:mm'
                        }
                    }
                }]
            }
        }
    });

    $("#add-btn").click(function(){
        var formattedData = reformatFormData($("form").serializeArray());
        if (formattedData.hasOwnProperty("effort_level")) {
            var timeInSeconds = timeConverter(formattedData.minutes, formattedData.seconds);
            var strDate = secondsToDate(timeInSeconds);
            addData(myChart, strDate, formattedData.effort_level, timeInSeconds);
            console.log(myChart.data);
        };
        return false;
    });

    function timeConverter(minutes, seconds) {
        var total = 0;
        if (minutes > 0) {
            total += Number(minutes) * 60;
        }
        if (seconds > 0) {
            total += Number(seconds);
        }
        return total;
    }

    function secondsToDate(seconds) {
        return moment.utc((Number(seconds) + myChart.data.seconds) * 1000).format('HH:mm:ss');
    }

    function reformatFormData(serializedFormData) {
        var resultJson = {};
        for (var i = 0; i < serializedFormData.length; i++) {
            resultJson[serializedFormData[i].name] = serializedFormData[i].value;
        }
        return resultJson;
    }

    function addData(chart, label, data, seconds) {
        if (chart.data.labels.length === 1 && chart.data.labels[0] === "00:00:00") {
            chart.data.labels.push(label);
        } else {
            chart.data.labels.push(chart.data.labels[chart.data.labels.length - 1], label);
        }
        chart.data.datasets[0].data.push(Number(data), Number(data));
        chart.data.seconds += seconds;
        chart.update();
    }

    function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    }
    </script>
</html>